TELEGRAM_TOKEN=kote
ADMIN_USER_ID=123
FORGE_URL=http://localhost:7860
API_USER=user
API_PASS=pass
ALLOWED_USERS=1,2,3
MODE=DEV

ADS_ENABLED=true
ADS_FOR_FREE_ONLY=false
ADS_PAID_CHANCE=0.2


DEFAULT_MODEL="juggernautXL_v9Rdphoto2Lightning"

# 🌍 Включить предупреждение про английский язык (true/false)
SHOW_LANGUAGE_WARNING="true"

# 🔄 Включить авто-перевод через googletrans (true/false, CPU-only)
ENABLE_AUTO_TRANSLATE="false"

EMAIL=Bot-Sd@bot.py