TELEGRAM_TOKEN=kote
ADMIN_USER_ID=123
FORGE_URL=http://localhost:7860
API_USER=user
API_PASS=pass
ALLOWED_USERS=1,2,3
MODE=DEV

ADS_ENABLED=true
ADS_FOR_FREE_ONLY=false
ADS_PAID_CHANCE=0.2


DEFAULT_MODEL="juggernautXL_v9Rdphoto2Lightning"

SHOW_LANGUAGE_WARNING="true"
ENABLE_FREE_TRANSLATE="true"  # поставь true, когда будешь готов тестить
TRANSLATE_MAX_CHARS="450"

EMAIL=Bot-Sd@bot.py
FORGE_HIDDEN_LORAS=emb_1,testing_lora,old_realism_v2,bad_style